.notification {
    animation: expand 2s linear infinite;
}

/* Here we define our animation with the name "rotate" */
@keyframes expand {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.4);
    }

    100% {
        transform: scale(1);
    }
}